<header class="site-header bg-black">
    <h1 class="logo"> Backpack</h1>
    <button class="menu"> Menu</button>
</header>

<nav class="site-nav bg-black">
    <ul>
        {% if current_user %}
            <li>
                <a href="/tasks"> Tasks </a>
            </li>
            <li>
                <a href="/weight"> Weight </a>
            </li>
            <hr>
            <li>
              <a id="user" href="/account"> Account</a>
            </li>
            <li>
              <a href="/logout">Logout</a>
            </li>
        {% else %}
            <li>
                <a href="/about">About</a>
            </li>
            <li>
              <a href="/login"> Log In </a>
            </li>
        {% endif %}
    </ul>
</nav>
