<div class="text-center row">
  <br><br>
  <div class="col-sm-6">
    <a class="btn btn-default social" data-href='/auth/facebook'>
      <span class="fa fa-facebook"></span>
        Sign In with Facebook
    </a>
  </div>
  
  <div class="col-sm-6">
    <a class="btn btn-default social" data-href='/auth/google'>
      <span class="fa fa-google-plus"></span>
        Sign In with Google
    </a>
  </div>

  <script type="text/javascript">
    var x = document.getElementsByClassName('social');
    Array.prototype.slice.call(x).forEach(function(el) {
        el.onclick = function(e) {
            e.preventDefault();
            var w = 500;
            var h = 600;
            var left = (screen.width/2)-(w/2);
            var top = (screen.height/2)-(h/2);
            window.open(e.target.dataset.href, 'cats', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
        };
    });
  </script>
</div>
