@import "colors";
@import "bootstrap_overrides";
@import "buttons";

.app {
  padding-top: 65px;
}

.social_pic {
  height: 200px;
  width: 200px;
}

#notification {
  position: fixed;
  width: 50%;
  bottom: 0;
  left: 10px;
}

input[type=checkbox].task-checkbox {
  margin-right: 10px;
}

.task-search {
  margin-bottom: 10px;
}

.task-category {
  margin-right: 10px;
  padding: 2px 15px;
  background-color: orange;
  color: white;
}
