@import "colors";
@import "bootstrap_overrides";
@import "buttons";
@import "task";

#app {
  padding-top: 65px;
}

.social_pic {
  height: 200px;
  width: 200px;
}

#notification {
  position: fixed;
  width: 50%;
  bottom: 0;
  left: 10px;
}
