
input[type=checkbox].task-checkbox {
  margin-right: 10px;
}

.task-category {
  padding: 2px 15px;
  background-color: orange;
  color: white;
}

.task-list-item {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;

  h4 {
    display: inline-block;
    cursor: pointer;
  }

}

textarea.task-description {
  height: 250px;
}

.task-actions {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.task-search {
  margin-bottom: 10px;
}

/** iPhone 6 */
@media only screen
and (max-device-width: 375px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {

  .task-list {
    padding-right: 0px;
    padding-left: 0px;
  }

}
