<div class="panel panel-default" style="max-width: 600px; margin: 0 auto">
    <div class="panel-heading">
        <h3>New Cost Per Day Item</h3>
    </div>
    <div class="panel-body">
        <ng-form name="form">
            <label for="itemName">Name</label>
            <input type="text" id="itemName" data-ng-model="$ctrl.record.name" class="form-control"/>
            <label for="itemPrice">Price</label>
            <input type="number" step="any" id="itemPrice" data-ng-model="$ctrl.record.price" class="form-control"/>
            <label for="itemType"> Type: </label>
            <select id="itemType" class="form-control" data-ng-model="$ctrl.record.type">
                <option value="monthly"> Monthly </option>
                <option value="yearly"> Yearly </option>
            </select>
            <button class="btn btn-default" data-ng-click="$ctrl.onSubmit()">Add</button>
        </ng-form>
    </div>
</div>
