<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> {{ appName }} </title>
    <meta name="description" content="">
    <meta name="csrf" content={{_csrf}}>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="images/favicons/favicon.ico">
    <!--[if lt IE 9]>
        <script src="vendor/html5shiv.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <!--[if lt IE 8]>
    <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a>
        to improve your experience.
    </p>
    <![endif]-->

    <header class="site-header ui-white">
        <h1 class="logo">
            <i class="fa fa-bars menu" alt="Menu"></i> Backpack
        </h1>
    </header>

    <nav class="site-nav ui-white">
        <ul>
            {% if current_user %}
                <li>
                    <a href="/tasks"> Tasks </a>
                </li>
                <li>
                    <a href="/weight"> Weight </a>
                </li>
                <li>
                    <a href="/account"> Account</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            {% else %}
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/login"> Log In </a>
                </li>
            {% endif %}
        </ul>
    </nav>

    <main id="app">
        {{ view }}
        {% block content %}{% endblock %}
    </main>

    <!-- Modal -->
    <div id="modal"></div>

    <!--
    This element will contain any initialData depending on the url that is
    initially requested. The React components that will render will check this
    element. If initialData is present, it will not make an API request.
    -->
    <div class="hide" id="initial-data">{{ initialData }}</div>
    <div class="hide" id="initial-user">{{ JSON.stringify(current_user) }}</div>

    <section class="messages">
      {% if messages.success %}
        <div class="alert success dismissible" id="notification" role="alert">
          <button class="close" type="button" data-dismiss="alert">
            <span aria-hidden="true"> &times </span>
            <span class="sr-only"> Close </span>
          </button>
          <div> {{ messages.success }} </div>
        </div>
      {% endif %}

      {% if messages.error %}
        <div class="alert danger dismissible" id="notification" role="alert">
          <button class="close" type="button" data-dismiss="alert">
            <span aria-hidden="true"> &times </span>
            <span class="sr-only"> Close </span>
          </button>
          <div> {{ messages.error }} </div>
        </div>
      {% endif %}
    </section>


    <script src="/js/nav.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/vendor/highcharts-all.js"></script>
    <script src="/js/{{ bundle }}.js"></script>
</body>
</html>
