{% extends 'layout.html' %}

{% block content %}

  <div class="jumbotron col-sm-10 col-sm-offset-1 text-center">
    <div class="col-sm-12 text-center">
      <h1> Welcome to Backpack</h1>
      <br/>
      <br/>
      <p>
        A life-tracking application
      </p>
      <br/>
      <br/>
      <div class="text-center">
          <a class="btn btn-default social" href='/auth/google'>
              <span class="fa fa-google-plus"></span>
              Sign In with Google
          </a>
      </div>
    </div>
  </div>

{% endblock %}
