<!doctype html>
<html class="no-js" lang="">
<head>
    {% include 'partials/_head.html' %}
</head>
<body>

    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% include 'partials/_nav.html' %}

    <main id="app">
        {{ view }}
        {% block content %}{% endblock %}
    </main>

    <!-- Modal -->
    <div id="modal"></div>

    <!--
    This element will contain any initialData depending on the url that is initially requested. The React components that will render will check this element. If initialData is present, it will not make an API request.
    -->
    <div id="initial-data">{{ initialData }}</div>

    {% include 'partials/_flash.html' %}

    {% include 'partials/_foot.html' %}
</body>
</html>
