/**
 * This file contains the background themes.
 * @group Themes
 **/
.bg-black {
    background-color: $color-black;
    color: $color-white-dark;
}

.bg-asphalt {
    background-color: $color-asphalt;
    color: $color-concrete;
}
