/**
 * @group elements
 **/
main {
    transition: $navdrawer-transition;
    max-width: 800px;

    &.open {
        transform: translate(-250px, 0);
    }

    @include media-query(medium) {
        margin: 0 auto;
    }
}
