/**
 * This file contains the ../fonts that will be used.
 *
 * This is a list their browser compatibility for font formats
 * eot          - IE9 Compat Modes
 * eot?#iefix   - IE6-IE8
 * woof2        - Chrome 26+, Opera 23+
 * woof         - Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
 * ttf          - Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5
 */
@font-face {
  font-family: 'latohairline';
  src: url('../fonts/lato_100-webfont.eot');
  src: url('../fonts/lato_100-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato_100-webfont.woff2') format('woff2'),
  url('../fonts/lato_100-webfont.woff') format('woff'),
  url('../fonts/lato_100-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latobold_italic';
  src: url('../fonts/lato_700italic-webfont.eot');
  src: url('../fonts/lato_700italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato_700italic-webfont.woff2') format('woff2'),
  url('../fonts/lato_700italic-webfont.woff') format('woff'),
  url('../fonts/lato_700italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latobold';
  src: url('../fonts/lato_700-webfont.eot');
  src: url('../fonts/lato_700-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato_700-webfont.woff2') format('woff2'),
  url('../fonts/lato_700-webfont.woff') format('woff'),
  url('../fonts/lato_700-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latolight';
  src: url('../fonts/lato_300-webfont.eot');
  src: url('../fonts/lato_300-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato_300-webfont.woff2') format('woff2'),
  url('../fonts/lato_300-webfont.woff') format('woff'),
  url('../fonts/lato_300-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latohairline_italic';
  src: url('../fonts/lato_100italic-webfont.eot');
  src: url('../fonts/lato_100italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato_100italic-webfont.woff2') format('woff2'),
  url('../fonts/lato_100italic-webfont.woff') format('woff'),
  url('../fonts/lato_100italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latolight_italic';
  src: url('../fonts/lato_300italic-webfont.eot');
  src: url('../fonts/lato_300italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato_300italic-webfont.woff2') format('woff2'),
  url('../fonts/lato_300italic-webfont.woff') format('woff'),
  url('../fonts/lato_300italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoitalic';
  src: url('../fonts/lato_italic-webfont.eot');
  src: url('../fonts/lato_italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato_italic-webfont.woff2') format('woff2'),
  url('../fonts/lato_italic-webfont.woff') format('woff'),
  url('../fonts/lato_italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoblack_italic';
  src: url('../fonts/lato_900italic-webfont.eot');
  src: url('../fonts/lato_900italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato_900italic-webfont.woff2') format('woff2'),
  url('../fonts/lato_900italic-webfont.woff') format('woff'),
  url('../fonts/lato_900italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoregular';
  src: url('../fonts/lato_regular-webfont.eot');
  src: url('../fonts/lato_regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato_regular-webfont.woff2') format('woff2'),
  url('../fonts/lato_regular-webfont.woff') format('woff'),
  url('../fonts/lato_regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoblack';
  src: url('../fonts/lato_900-webfont.eot');
  src: url('../fonts/lato_900-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato_900-webfont.woff2') format('woff2'),
  url('../fonts/lato_900-webfont.woff') format('woff'),
  url('../fonts/lato_900-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
