
.list-group {
    list-style-type: none;
    margin: 0px auto;
}

.list-item {
    box-shadow: $shadow-left, $shadow-right;

    .tag {
        margin-left: $font-size * 2;
        background-color: #ccc;
        border-radius: 4px;
        display: inline-block;
        padding: 3px 5px;
        font-size: 13px;
        i {
            margin-right: $font-size;
        }
    }
}


.list-item:first-child {
    box-shadow: $shadow-top, $shadow-left, $shadow-right;
}

.list-item:last-child {
    box-shadow: $shadow-bottom, $shadow-left, $shadow-right;
}
