/**
 * This the .site-header class.
 * @group modules
 **/
.site-header {
    height: 50px;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid $color-gray;

    // Large screen header styles
    @media all and (min-width: $bp-large) {
        position: relative;
    }

    .logo {
        i {
          margin-right: 20px;
          cursor: pointer;
        }
        height: inherit;
        color: inherit;
        float: none;
        font-size: 30px;
        line-height: 50px;
        font-weight: 300;
        margin: 0 16px;
        max-width: none;
        padding: 0;
    }

  a {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
  }

  button {
    background-color: transparent;
    background-image: none;
    border: 0px;
    display: inline-block;
    height: inherit;
    padding: 0px 5px 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 0px;
    transition: background-color .2s ease-out;
    -webkit-tap-highlight-color: transparent;
    width: 60px;

    @media all and (min-width: $bp-large) {
      // Hide button on sizes above large breakpoint
      display: none;
    }

    &:hover {
      background-color: rgba(255, 255, 255, .1);
    }

    &:focus {
      outline: 0;
    }

    &:active {
      background-color: rgba(255, 255, 255, .4);
    }
  }

}
