/**
 * This the .site-nav class.
 * @group modules
 **/
.site-nav {
    bottom: 0;
    height: calc(100%-50px);
    position: fixed;
    left: -250px;
    top: 56px;
    transition: $site-nav-transition;
    width: 250px;
    z-index: 1;
    will-change: translate;
    border-right: 1px solid $color-gray;

    hr {
        border: 1px solid $color-gray;
    }
  &.open {
    transform: $site-nav-transform;
  }

  h4,
  li a {
    height: 60px;
    line-height: 1.4;
    padding: 17px 20px;
  }

  h4 {
    background-color: #fff;
    color: #3367d6;
  }

  ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
  }

  li {
    border-bottom: 1px solid #fff;
    padding: 0px;
    margin-bottom: 0px;

    &::before {
      content: none;
    }

    a {
      color: inherit;
      display: block;
      text-decoration: none;
      transition: background 150ms ease-in-out;
      white-space: nowrap;
    }

    a:hover {
      background-color: $color-gray;
    }

    a:focus {
      background-color: rgba(255, 255, 255, .3);
      outline: 0;
    }

    a:active {
      background-color: rgba(255, 255, 255, .4);
    }

  }

}
