.tasks {
    width: 95%;
    margin: 0 auto;

    input[type="text"] {
        width: 100%;
    }
}

.tasks-list {

    form {
        margin: $font-size 0px;
    }

}

.task-title {
    cursor: pointer;
}
