<div class="panel panel-default">
  <div class="panel-heading">
    Transactions
    <a class="btn pull-right" style="padding: 0" ui-sref="new-transaction">
      New
    </a>
  </div>
  <ul class="panel-body list-group">
    <transaction-list-item
      data-ng-repeat="transaction in $ctrl.transactions"
      transaction="transaction">
    </transaction-list-item>
  </ul>
        <li class="list-group-item" style="text-align: center" data-ng-if="$ctrl.transactions.length === 0">
            No Transactions Yet!
        </li>
</div>
