/**
 * @group elements
 **/
main {
    background-color: $color-white-floral;
    height: 100%;
    position: fixed;
    top: 56px;
    padding-top: $font-size;
    transition: $site-nav-transition;
    width: 100%;

    &.open {
        transform: $site-nav-transform;
    }

    @include media-query(medium) {
        padding: $font-size;
    }
}
