/**
 * @group elements
 **/
main {
    background-color: $color-white-floral;
    margin: 56px 0px;
    width: 100%;
    padding-top: $font-size;
    transition: $site-nav-transition;

    &.open {
        transform: $site-nav-transform;
    }

    @include media-query(medium) {
        padding: $font-size;
    }
}
